- unless observation.nil?
  %li
    %span.observation-value= format_observation_value_for_display observation
    - unless observation.units.blank?
      %span.observation-units= observation.units
    - unless observation.observed_on.blank?
      %span.observation-date= format_date_time observation.observed_on