%div
  = link_to "Specify a new alert for patient #1", :controller => :test_message, :action => :index, :msg_id => 1
%div
  = link_to "Specify a new alert for patient #2", :controller => :test_message, :action => :index, :msg_id => 2
