- alerts = Alert.active.find_all_by_patient_id_and_body_system_id(patient.id, body_system.id)
- if alerts.blank?
  (There are no alerts to display)
- else
  %h2 Alerts
  - alerts.each do |alert|
    %div.alert{:class => alert_css_class(alert)}
      = alert.description
