$primaryColor: #141126;
$secondaryColor: #A59352;
$tertiaryColor: #DBCAA1;

.location_details {
  background-color: lighten($tertiaryColor, 40%);
  border: 1px solid darken($tertiaryColor, 20%);
  box-shadow: 2px 2px 1px #888888;
}

#header {
	background: lighten($secondaryColor, 10%);
	font-weight: bold;
	padding: 5px 5px;
	font-size: 1.25em;
  margin-bottom: 10px;
}

.container {
	background: #EEEEEE;
	padding: 5px;
}

.warning {
	background-color: yellow;
	opacity: 0.7;
}

.critical {
	background-color: red;
	opacity: 0.7;
}

div.status {
	margin-bottom: 3px;
	height: 56px;
  width: 56px;
}

.patient-panel {
	border: 1px solid black;
	width: 60px;
	margin: 2px 5px 2px 2px;
	display: inline-block;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #888888;
}

@media only screen and (device-width: 768px) {
  $iconSize: 80px;
  $buffer: 8px;
  /* For general iPad layouts */
  .patient-panel {
    width: $iconSize + $buffer;
  }
  div.status {
    width: $iconSize;
    height: $iconSize;
    img.main {
      height: $iconSize;
      width: $iconSize;
    }
  }
  .patient-data .add-data {
    width: $iconSize;
    font-size: 2em;
  }
}

.empty-location {
  background-color: #CCCCCC;
  opacity: 0.5;
}

ul.body-systems {
	list-style: none;
	padding: 2px;
	margin: 0px;
}

.patient-data {
	text-align: center;
}

.room{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 3px;
}

.name {
	font-size: 0.75em;
}

#header .name {
	font-size: 1em;
}

#header .demographics {
	font-size: 0.75em;
}

.two-columns {
	overflow: hidden;
}

.two-columns li {
	float: left;
	display: inline;
	width: 50%;
}

img.main-system {
	margin-left: 4px;
  width: 112px;
  height: 112px;
}

a.evidence {
	font-size: 0.60em;
	padding-bottom: 2px;
}

ul.sub-list {
	font-size: 0.75em;
}

.data-panel {
	margin-bottom: 5px;
	background-color: FFFFBA;
	padding: 5px;
}

.body_system, .view_chart {
	float: left;
}

.modifier_icon {
    display: inline;
    float: right;
    position: relative;
    top: -16px;
    z-index: 2;
}

.alert {
  padding: 3px;
  border: #888888 1px solid;
  font-weight: bold;
  opacity: 1.0;
  ul {
    font-weight: normal;
  }
}

.alert.critical {
  background-color: #FFBABA;
}

.alert.warning {
  background-color: #FEEFB3;
}

#guideline-list, #problem-list {
  margin-bottom: 20px;
}

#alert-list {
  margin-bottom: 20px;
}

#last_updated {
  padding-top: 10px;
  font-size: 0.8em;
}

td.spacer, th.spacer {
  background: #dddddd;
  margin-left: 5px;
  margin-right: 5px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui-timepicker-select { width: auto; }