#header {
	width: 90%;
	background: #CCCCCC;
	font-weight: bold;
	padding: 5px;
	font-size: 1.25em;
}

#container {
	width: 90%;
	background: #EFEFEF;
	padding: 5px;
}

.warning {
	background-color: yellow;
	opacity: 0.7;
}

.critical {
	background-color: red;
	opacity: 0.7;
}

div.status {
	margin-bottom: 3px;
	height: 56px;
}

.patient-panel {
	border: 1px solid black;
	width: 60px;
	margin: 2px;
	display: inline-block;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #888888;
}

.empty-location {
  background-color: #CCCCCC;
  opacity: 0.5;
}

ul.body-systems {
	list-style: none;
	padding: 2px;
	margin: 0px;
}

.patient-data {
	text-align: center;
}

.room{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 3px;
}

.name {
	font-size: 0.75em;
}

#header .name {
	font-size: 1em;
}

#header .demographics {
	font-size: 0.75em;
}

.two-columns {
	overflow: hidden;
}

.two-columns li {
	float: left;
	display: inline;
	width: 50%;
}

img.main-system {
	margin-left: 4px;
  width: 112px;
  height: 112px;
}

a.evidence {
	font-size: 0.60em;
	padding-bottom: 2px;
}

ul.sub-list {
	font-size: 0.75em;
}

.data-panel {
	margin-bottom: 5px;
	background-color: FFFFBA;
	padding: 5px;
}

.body_system {
	float: left;
}

.modifier_icon {
    display: inline;
    float: right;
    position: relative;
    top: -16px;
    z-index: 2;
}

.alert {
  padding: 3px;
  border: #888888 1px solid;
  font-weight: bold;
  opacity: 1.0;
  ul {
    font-weight: normal;
  }
}

.alert.critical {
  background-color: #FFBABA;
}

.alert.warning {
  background-color: #FEEFB3;
}

#guideline-list {
  margin-bottom: 20px;
}

#alert-list {
  margin-bottom: 20px;
}
