// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-summary {
  //a, a:hover, a:visited {
  //  background-color: auto;
  //}

  .status {
    display: inline-block;
    border: 1px solid black;
    width: 75px;
    height: 75px;
  }
  .name {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
  }

  .summary-container {
    height: 75px;
    margin-left: 15px;
  }

  div {
    display: inline-block;
  }
}


