%th Date
%th Na (mEq/L)
%th K (mEq/L)
%th Cl (mEq/L)
%th BUN (mg/dL)
%th Creatinine (mg/dL)
%th Glucose (mg/dL)

%th.spacer

%th WBC (#)
%th Hgb (mg/dL)
%th Plt (#/mL)

%th.spacer

%th Ca (mg/dL)
%th Mg (mg/dL)
%th Phos (mg/dL)

%th.spacer

%th pH
%th pO2
%th pCO2
%th O2 sat

%th.spacer

%th Alb (mg/dL)
%th AST (U/L)
%th ALT (U/L)
%th Alk Phosphate (U/L)

%th.spacer

%th cTnI (mcg/mL)
%th Amylase (U/L)
%th Lipase (U/L)
%th TBIL (mg/dL)
%th Chol (mg/dL)
%th GGT (IU/L)
%th Fe (ug/dL)
%th LDH (IU/L)
%th CO2 (mEq/L)
%th TP (g/dL)
%th A/G
%th Trig (mg/dL)
%th Uric acid (mg/dL)
%th Globulin (g/DL)
%th Bilirubin (mg/dL)
%th EGFR
%th Bronchial culture (CFU)