%th Date
%th cTnI (mcg/mL)
%th Na+ (mEq/L)
%th Hgb (mg/dL)
%th Platelet (#/mL)
%th WBC (#)
%th AST (U/L)
%th ALT (U/L)
%th Amylase (U/L)
%th Lipase (U/L)
%th Alk Phosphate (U/L)
%th Alb (mg/dL)
%th PCr (mg/dL)
%th TBIL (mg/dL)
%th BUN (mg/dL)
%th Ca (mg/dL)
%th Cl- (mEq/L)
%th Chol (mg/dL)
%th GGT (IU/L)
%th Fe (ug/dL)
%th LDH (IU/L)
%th CO2 (mEq/L)
%th Phos (mg/dL)
%th K+ (mEq/L)
%th TP (g/dL)
%th A/G
%th Trig (mg/dL)
%th Uric acid (mg/dL)
%th Globulin (g/DL)
%th Bilirubin (mg/dL)
%th Glucose (mg/dL)
%th EGFR
%th BUN/Creatinine
%th Broncial culture (CFU)