%ul
  %li
    = link_to "Vitals", flowsheet_patient_path(@patient, {:template => 'vitals'}), {:target => "_new"}
  %li
    = link_to "Laboratories", flowsheet_patient_path(@patient, {:template => 'labs'}), {:target => "_new"}
  %li
    = link_to "Ventilator Settings", flowsheet_patient_path(@patient, {:template => 'vent'}), {:target => "_new"}
  %li
    = link_to "General Observations", flowsheet_patient_path(@patient, {:template => 'generic'}), {:target => "_new"}